{% extends 'cms/cms_base.html' %}
{% from 'common/_macors.html' import static %}
{% block title %}
修改密码
{% endblock %}
{% block css_style %}<script src = "{{ static('js/resetpwd.js') }}"> </script>
{% endblock %}

{% block content %}
    <form class = "layui-form" action = "" method = "post">
       <div class = "layui-form-item">
            <label class = "layui-form-label"> 原密码 </label>
            <div class = "layui-input-inline">
                <input type = "password" name = "oldpwd" required lay - verify = "required" placeholder = "请输入密码"
                    autocomplete = "off" class = "layui-input">
            </div>
        </div>
        <div class = "layui-form-item">
            <label class = "layui-form-label"> 新密码</label>
            <div class = "layui-input-inline">
                <input type = "password" name = "newpwd" required lay-verify="required" placeholder="请输入密码"
                    autocomplete = "off" class = "layui-input">
            </div>
        </div>
        <div class = "layui-form-item">
            <label class = "layui-form-label"> 确认新密码</label>
            <div class = "layui-input-inline">
                <input type = "captcha" name = "newpwd2" required lay-verify="required" placeholder="请输入新密码"
                    autocomplete = "off" class = "layui-input">
            </div>
        </div>

        <div class = "layui-form-item">
           <div class = "layui-input-block">
                <button class = "layui-btn"  lay-filter = "formDemo" id="submit">立即提交</button>
            </div>
        </div>
    </form>
{% endblock %}
