{% from "common/_macors.html" import static %}
{#laui模板使用着就是不一样啊#}
{#引入宏#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ static('layui/css/layui.css') }}">
    {% include 'common/_heads.html' %}
    <title>{% block title %}{% endblock %}</title>

    <script src="{{ static('js/cms_base.js') }}"></script>
    {% block css_style %}
    {% endblock %}



</head>


<body class="layui-layout-body">
{% set cms_user = g.cms_user %}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">trigo安全论坛</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="{{ url_for('cms.probfile') }}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {{ g.cms_user.username }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{{ url_for('cms.logout') }}">注销</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="#s">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="{{ url_for('cms.probfile') }}">个人信息</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="{{ url_for('cms.resetpwd') }}">修改密码</a>
                </li>
                <li class="layui-nav-item"><a href="{{ url_for('cms.resetemail') }}">修改邮箱</a></li>

                {% if cms_user.has_permissions(CMSPermission.POSTER) %}
                    <li class="layui-nav-item"><a href="{{ url_for('cms.posts') }}">帖子管理</a></li>
                {% endif %}
                {% if cms_user.has_permissions(CMSPermission.COMMENTER) %}
                    <li class="layui-nav-item"><a href="{{ url_for('cms.comments') }}">评论管理</a></li>
                {% endif %}
                {% if cms_user.has_permissions(CMSPermission.BOARDER) %}
                    <li class="layui-nav-item"><a href="{{ url_for('cms.boards') }}">板块管理</a></li>
                {% endif %}
                {% if cms_user.has_permissions(CMSPermission.FRONTUSER) %}
                    <li class="layui-nav-item"><a href="{{ url_for('cms.fusers') }}">前台用户管理</a></li>
                {% endif %}
                {% if cms_user.has_permissions(CMSPermission.COMUSER) %}
                    <li class="layui-nav-item"><a href="{{ url_for('cms.cusers') }}">CMS用户管理</a></li>
                    <li class="layui-nav-item"><a href="{{ url_for('cms.groles') }}">CMS组管理</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="{{ static('layui/layui.js') }}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>